@import "tailwindcss";

:root {
  --background: #eff6ff;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eff6ff;
    --foreground: #333333;
  }
}

body {
  background: linear-gradient(to right, #eff6ff, #ffffff, #fef2f2);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
